.downloadbutton {
    background-color: #FFE5D1;
    border: solid 1px ;
    border-radius: 32px;
    border-color: #EE9956;
    cursor: pointer;
    .content {
        padding: 10px 15px 10px 15px;
    }
}