.Home {

    max-width: 1400px;
    width: 100vw;
    .Top {
        display: flex;
        flex-direction: column;
        align-items: center;
            p{
                font-size: 40px;
                color: #DB846B; 
                font-weight: 600;
            }
        
    }
    .RecentProject {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .LinkContainer {
            display: flex;
            justify-content: flex-end;
        }
    }
    .CarousselContianer {
        padding-top: 40px;
    }
}