.WorksContainer {
    max-width: 1400px;
    width: 100vw;
    .buttonsContainer {
        justify-content: center;
        display: flex;
        gap: 38px;
        margin-bottom: 45px;
        height: 2em;
        button {  
            color:#540B0E;
            transition: 0.25s;
            background: none;
            border: none;
            font: inherit;
            cursor: pointer;
            height: max-content;
            
            &:hover,
            &:focus { 
              border-color: #540B0E;
              color: #fff;
            }
          }
        button:hover,
        button:focus {
            box-shadow: inset 6.5em 0 0 0 #540B0E;
        }
        .active {
            background-color: #540B0E;
            color: #fff;
        }
    }
}

@media screen and (max-width: 750px) {
    .WorksContainer {
        button:hover,
        button:focus {
            box-shadow: none;
        }
        .active {
            background-color: #540B0E;
            color: #fff;
        }
    }
    
}