#root {
  margin: 0 auto;
}

body {
  margin: 0px;
  padding: 0px 5% 0px 5%;;
  background-color: #FFF1E6;
}

p {
  color: #540B0E;
}

.Page {
  display: flex;
  justify-content: center ;
}

.work {
  max-width: 950px;
  width: 100vw;
}